Numpy로 연산 + 배열형태 
<br>Pandas로 자료구조 및 시각화

인공지능사용하는 모듈 : 텐서플로, 파이터치

##  Pandas의 자료 구조
- 서로 다른 형식을 갖는 여러 종류의 데이터를 컴퓨터가 이해할 수 있도록 동일한 형식을 갖는 구조로 통합할 필요가 있음
- 판다스는 시리즈(1차원 배열)와 데이터프레임(2차원 배열)이라는 데이터 형식을 제공

### 시리즈
- 데이터가 순차적으로 나열된 1차원 배열(열벡터)
- 인덱스는 데이터 값(value)과 일대일 대응
 - 인덱스는 데이터 값의 위치를 나타내는 이름표(주소) 역할
 - 인덱스로 데이터 값에 접근 가능

## 시리즈 만들기
- 딕셔너리와 시리즈의 구조가 비슷하기 때문에 딕셔너리를 시리즈로 변환하는 방법을 많이 사용
- 판다스 내장 함수인 Series() 사용
 - 딕셔너리를 함수의 인자로 전달
 
### Series 함수 형식
<code> 딕셔너리 -> 시리즈 변환 : pandas.Series(딕셔너리) </code>

딕셔너리를 시리즈로 변환하는 예제

In [22]:
# 판다스 import
import pandas as pd

# Key:value를 쌍으로 갖는 딕셔너리를 생성. 변수 dict_data에 저장('a': 1, 'b': 2, 'c': 3)
dict_data = {'a': 1, 'b': 2, 'c': 3}

# 판다스 Series() 함수로 딕셔너리를 시리즈로 변환, 변수 sr에 저장
sr = pd.Series(dict_data)

In [12]:
# sr의 자료형 출력
print(type(sr))

<class 'pandas.core.series.Series'>

In [16]:
# 변수 sr에 저장되어 있는 시리즈 객체 출력
print(sr)
print(sr['a']) == print(sr[0])

a    1
b    2
c    3
dtype: int64
1
1

True

In [24]:
# 인덱스 배열은 변수 idx에 저장, 데이터 값 배열은 변수 val에 저장
idx = sr.index # 인덱스 표시해달라
val = sr.values # 값 표시해달라
print(idx)
print(val) # ',' 로 구분 안돼있음, 리스트 아님 배열임

Index(['a', 'b', 'c'], dtype='object')
[1 2 3]

- 시리즈 객체 출력 시 인덱스 a,b,c는 왼쪽에 표시
- 인덱스와 짝을 이루는 데이터 값 1,2,3은 오른쪽에 표시
- 시리즈를 구성하는 데이터 값의 자료형은 정수형(int64)

참고
- 판다스는 as pd로 자주 사용
- Numpy는 "np"로 자주 사용

판다스 Series() 함수를 사용하여 파이썬 리스트를 시리즈로 변환하는 예제

In [5]:
import pandas as pd

# 리스트 생성, 변수 list_data에 저장
list_data = ['2022-02-21', 3.14, "김원빈", 100, True]
sr = pd.Series(list_data)

In [7]:
print(sr)

0    2022-02-21
1          3.14
2           김원빈
3           100
4          True
dtype: object

- 시리즈를 구성하는 원소 데이터 값의 자료형은 문자열(object)
 - 타입이 혼합되어있을시 object로 표시
- 시리즈에서 인덱스는 크게 두가지 종류 존재
 - 정수형 위치 인덱스 and 인덱스 이름

시리즈의 index 속성을 이용하여 인덱스 배열 따로 선택 가능
<br><br>
시리즈의 values 속성을 이용하여 데이터 값 따로 선택 가능

In [25]:
import pandas as pd

# 리스트 생성, 변수 list_data에 저장
list_data = ['2022-02-21', 3.14, "김원빈", 100, True]
sr = pd.Series(list_data)

In [28]:
# 인덱스 배열은 변수 idx에 저장, 데이터 값 배열은 변수 val에 저장
idx = sr.index # 인덱스 표시해달라
val = sr.values # 값 표시해달라
print(idx) 
print(val) # ',' 로 구분 안돼있음, 리스트 아님 배열임

RangeIndex(start=0, stop=5, step=1)
['2022-02-21' 3.14 '김원빈' 100 True]

판다스 Series() 함수를 사용하여 파이썬 튜플을 시리즈로 변환하는 예제(인덱스 정의)

In [29]:
import pandas as pd

# 튜플 생성, 변수 list_data에 저장
tuple_data = ('원빈', '2022-02-21', '남', True)
sr = pd.Series(tuple_data, index=['이름', '오늘날짜', '성별', '학생여부']) # 튜플에 인덱스 지정하는 방법

In [30]:
print(sr)

이름              원빈
오늘날짜    2022-02-21
성별               남
학생여부          True
dtype: object

시리즈 원소 선택 예제 1

In [32]:
# 원소를 1개 선택하는 예제

# 정수형 위치 인덱스
print(sr[0])

# 인덱스 이름
print(sr['이름'])

원빈
원빈

시리즈 원소 다중 선택 예제 2 - [] 두개필요

In [38]:
# 원소를 다중 선택(인덱스 리스트 활용)
# 정수형 위치 인덱스
print(sr[[1, 2]]) # 다중 일때는 []2개를 써줘야함

# 인덱스 이름
print(sr[['오늘날짜', '성별']])

오늘날짜    2022-02-21
성별               남
dtype: object
오늘날짜    2022-02-21
성별               남
dtype: object

시리즈 원소 다중 선택 예제 3 - 인덱스 범위 지정(슬라이싱)

In [46]:
# 정수형 위치 인덱스 
print(sr[1:3]) # 2번까지 표시

# 인덱스 이름
print(sr['오늘날짜': '성별']) # 성별도 포함

오늘날짜    2022-02-21
성별               남
dtype: object
오늘날짜    2022-02-21
성별               남
dtype: object

## 데이터 프레임 (2차원 배열)
- 여러 개의 열벡터(시리즈)들이 같은 행 인덱스를 기준으로 결합된 2차원 벡터 또는 행렬(matrix)
- 행과 열을 나타내기 위해서는 행 인덱스와 열 이름 두가지 종류의 주소를 사용
 - 행은 공통적이고 다양한 속성 데이터들의 모음인 레코드(record)
 - 열은 공통의 속성을 갖는 일련의 데이터의 집합

### 데이터 프레임 만들기
1. 데이터프레임을 만들기 위해서는 같은 길이의 1차원 배열(Series)이 여러 개 필요
2. 딕셔너리 값에 해당하는 각 리스트가 시리즈 배열로 변환되어 데이터 프레임의 열이 됨
3. 딕셔너리 키는 각 시리즈의 이름으로 변환되어 데이터프레임의 열 이름이 됨
4. 데이터프레임을 만들 때는 판다스 DataFrame() 이라는 함수를 사용
 - <code> 딕셔너리 -> 데이터프레임 변환 : pandas.DataFrame(딕셔너리 객체)</code>

In [54]:
import pandas as pd

# Key:value를 쌍으로 갖는 딕셔너리를 생성. 변수 dict_data에 저장('a': 1, 'b': 2, 'c': 3)
dict_data = {'c0': [1, 2, 3], 'c1': [4,5,6], 'c2': [7,8,9], 'c3': [10,11,12], 'c4':[13,14,15]}

# 판다스 DataFrame() 함수로 딕셔너리를 데이터프레임으로 변환, 변수 df에 저장
df = pd.DataFrame(dict_data)

In [55]:
print(type(df))

<class 'pandas.core.frame.DataFrame'>

In [56]:
print(df)

   c0  c1  c2  c3  c4
0   1   4   7  10  13
1   2   5   8  11  14
2   3   6   9  12  15

#### 행 인덱스 / 열 이름 설정
- 2차원 배열 -> 데이터프레임 변환할 때 행 인덱스와 열 이름 속성을 사용자가 직접 지정 가능<br>
<code> 행 인덱스, 열 이름 설정: pandas.DataFrame(2차원 배열, index=행 인덱스 배열, columns=열 인덱스 배열) </code>

#### 행 인덱스 / 열 이름 설정 예제

In [70]:
import pandas as pd

# 행 인덱스 / 열 이름을 지정하여 데이터프레임 만들기
df = pd.DataFrame([[22, '남', '한해대'], [21, '여', '국산대'], [20, "남", '부산대']],
                  index = ["원빈", "영신", "성민"], columns = ['나이', '성별', '학교'])

In [59]:
print(df)

    나이 성별   학교
원빈  22  남  한해대
영신  21  여  국산대
성민  20  남  부산대

In [60]:
print(df.index)

Index(['원빈', '영신', '성민'], dtype='object')

In [61]:
print(df.columns)

Index(['나이', '성별', '학교'], dtype='object')

In [62]:
print(df.values)

[[22 '남' '한해대']
 [21 '여' '국산대']
 [20 '남' '부산대']]

### 행 인덱스 / 열 이름 변경<br>
<code>행 인덱스 변경: DataFrame객체.index = 새로운 행 인덱스 배열</code><br>
<code>열 이름 변경: DataFrame객체.columns = 새로운 열 이름 배열</code>

In [74]:
df.index = ['준서', '지연', '성철']
df.columns = ['연령', '남녀', '소속']

In [73]:
print(df)

    연령 성별   소속
준서  22  남  한해대
지연  21  여  국산대
성철  20  남  부산대

### rename() 함수를 사용하여 행 인덱스 / 열 이름 변경 가능<br>
<code>행 인덱스 변경: DataFrame객체.rename(index ={기존인덱스:변경인덱스, ...})</code><br>
<code>열 이름 변경: DataFrame객체.rename(columns ={기존열이름:변경열이름, ...})</code>

#### 행 인덱스 / 열 이름 변경 예제2(rename) : 표시만보여주고 실제값은 변수에 넣거나, 옵션에 inplace = True를 넣어주어야함

In [90]:
import pandas as pd

# 행 인덱스 / 열 이름을 지정하여 데이터프레임 만들기
df = pd.DataFrame([[22, '남', '한해대'], [21, '여', '국산대'], [20, "남", '부산대']],
                  index = ["원빈", "영신", "성민"], columns = ['나이', '성별', '학교'])

In [80]:
print(df)

    나이 성별   학교
원빈  22  남  한해대
영신  21  여  국산대
성민  20  남  부산대

In [94]:
df.rename(index={"원빈":"빈원"}, inplace = True)
df.rename(columns={"나이":"연령", "성별":"남녀"})

    연령 남녀   학교
빈원  22  남  한해대
영신  21  여  국산대
성민  20  남  부산대

In [95]:
df

    나이 성별   학교
빈원  22  남  한해대
영신  21  여  국산대
성민  20  남  부산대

### 행 / 열 삭제
- 행 / 열 삭제 시 drop() 함수 사용
- 행을 삭제할 때 축(axis) 옵션으로 axis=0 혹은 입력X
- 열을 삭제할 때 축(axis) 옵션으로 axis=1 입력<br>
<code>행 삭제: DataFrame객체.drop(행 인덱스 또는 배열, axis=0)</code><br>
<code>열 삭제: DataFrame객체.drop(열 이름 또는 배열, axis=1)</code>

### 행 삭제 예제

In [301]:
import pandas as pd

exam_data = {'국어': [70,90,80], '수학': [90, 85, 80], '영어': [100, 80, 90], '음악': [70, 90, 100]}
df = pd.DataFrame(exam_data, index=['인서', '원빈', '규석'])

In [302]:
print(df)

    국어  수학   영어   음악
인서  70  90  100   70
원빈  90  85   80   90
규석  80  80   90  100

In [1]:
# 데이터프레임 df를 복제하여 변수 df2에 저장, df2 1개 행(row) 제거
import pandas as pd

exam_data = {'국어': [70,90,80], '수학': [90, 85, 80], '영어': [100, 80, 90], '음악': [70, 90, 100]}
df2 = pd.DataFrame(exam_data, index=['인서', '원빈', '규석'])
df2.drop('인서', axis=0, inplace=True)

In [304]:
print(df2)

    국어  수학  영어   음악
원빈  90  85  80   90
규석  80  80  90  100

In [305]:
# 데이터프레임 df를 복제하여 변수 df3에 저장, df3 2개 행(row) 제거
import pandas as pd

exam_data = {'국어': [70,90,80], '수학': [90, 85, 80], '영어': [100, 80, 90], '음악': [70, 90, 100]}
df3 = pd.DataFrame(exam_data, index=['인서', '원빈', '규석'])
df3.drop(["원빈", "규석"], axis=0)

    국어  수학   영어  음악
인서  70  90  100  70

### 열 삭제 예제 - drop 옵션에 axis=1 추가

In [131]:
import pandas as pd

exam_data = {'국어': [70,90,80], '수학': [90, 85, 80], '영어': [100, 80, 90], '음악': [70, 90, 100]}
df = pd.DataFrame(exam_data, index=['인제', '나름', '규석'])

In [134]:
print(df)

    국어  수학   영어   음악
인제  70  90  100   70
나름  90  85   80   90
규석  80  80   90  100

In [135]:
df.drop('국어', axis=1)

    수학   영어   음악
인제  90  100   70
나름  85   80   90
규석  80   90  100

In [136]:
df.drop(['영어','음악'], axis=1)

    국어  수학
인제  70  90
나름  90  85
규석  80  80

## 행, 열 선택하기

### 행 선택[loc, iloc]
- 데이터 시각화 부분에서 기준이 될 행을 선택할 수 있음
 - 인덱스 이름을 기준으로 행을 선택할 시 loc 사용
   - 범위 지정 시 범위 끝 포함
 - 정수형 위치 인덱스를 기준으로 행을 선택할 시 iloc 사용
   - 범위 지정 시 범위 끝 미포함

In [224]:
import pandas as pd

exam_data = {'국어': [70,90,80], '수학': [90, 85, 80], '영어': [100, 80, 90], '음악': [70, 90, 100]}
df = pd.DataFrame(exam_data, index=['인제', '나름', '규석'])

In [152]:
# 행 인덱스 이름을 사용하여 행 1개 선택
label1 = df.loc['인제']
position = df.iloc[0]

In [153]:
print(label1)

국어     70
수학     90
영어    100
음악     70
Name: 인제, dtype: int64

In [154]:
print(position)

국어     70
수학     90
영어    100
음악     70
Name: 인제, dtype: int64

In [159]:
print(type(position)) # 행 1개 선택시 시리즈 형태로 출력

<class 'pandas.core.series.Series'>

In [230]:
# 행 인덱스 이름을 사용하여 행 2개 선택
label2 = df.loc[['인제', '나름']]
position2 = df.iloc[[1, 2]]

In [226]:
print(label2)

    국어  수학   영어  음악
인제  70  90  100  70
나름  90  85   80  90

In [231]:
print(position2)

    국어  수학  영어   음악
나름  90  85  80   90
규석  80  80  90  100

In [173]:
print(type(position2)) # 행 2개 선택시 데이터프레임 형태로 출력

<class 'pandas.core.frame.DataFrame'>

In [168]:
# 행 인덱스 이름을 사용하여 행 여러개 선택
label3 = df.loc['인제':'규석'] # 끝포함
position3 = df.iloc[0:1] # 끝포함x

In [166]:
print(label3)

    국어  수학   영어   음악
인제  70  90  100   70
나름  90  85   80   90
규석  80  80   90  100

In [167]:
print(position3)

    국어  수학   영어  음악
인제  70  90  100  70

### 열 선택 예제

In [183]:
import pandas as pd

exam_data = {'국어': [70,90,80], '수학': [90, 85, 80], '영어': [100, 80, 90], '음악': [70, 90, 100]}
df = pd.DataFrame(exam_data, index=['요셉', '성훈', '동호'])

In [184]:
# '수학' 점수 데이터만 선택(열 선택)
math = df['수학']
print(math)

요셉    90
성훈    85
동호    80
Name: 수학, dtype: int64

In [185]:
# 'df.' 형식으로도 사용 가능
english = df.영어
print(english)

요셉    100
성훈     80
동호     90
Name: 영어, dtype: int64

In [186]:
# 열 두 개 선택
kor_music = df[['음악', '국어']]
print(kor_music)

     음악  국어
요셉   70  70
성훈   90  90
동호  100  80

- 열은 여러개 선택 불가능

## 원소 선택
- 데이터프레임의 행 인덱스와 열 이름을 [행,열] 형식의 2차원 좌표로 입력하여 원소 위치를 지정<br>
<code>인덱스 이름: DataFrame객체.loc[행인덱스이름, 열이름]</code><br>
<code>정수 위치 인덱스: DataFrame객체.iloc[행번호, 열번호]</code>
 - loc와 iloc는 행 때문에 사용

In [317]:
import pandas as pd

exam_data = {'이름': ['용준', '수빈', '재영'], '국어': [70,90,80], '수학': [90, 85, 80], '영어': [100, 80, 90], '음악': [70, 90, 100]}
df = pd.DataFrame(exam_data)

In [318]:
print(df)

   이름  국어  수학   영어   음악
0  용준  70  90  100   70
1  수빈  90  85   80   90
2  재영  80  80   90  100

#### 컬럼을 인덱스로 바꾸는 방법

In [319]:
# '이름' 열을 새로운 인덱스로 지정(set_index 사용)
# df 객체에 변경 사항 저장(inplace = True 사용)
df.set_index('이름', inplace = True)
print(df)

    국어  수학   영어   음악
이름
용준  70  90  100   70
수빈  90  85   80   90
재영  80  80   90  100

In [311]:
print(df.index)

Index(['용준', '수빈', '재영'], dtype='object', name='이름')

In [312]:
print(df.columns)

Index(['국어', '수학', '영어', '음악'], dtype='object')

#### 부록 - 인덱스 해제하는 방법

In [313]:
# 인덱스 해제하는 방법 reset_index 사용
df.reset_index('이름')

   이름  국어  수학   영어   음악
0  용준  70  90  100   70
1  수빈  90  85   80   90
2  재영  80  80   90  100

### 원소 선택해보기

In [213]:
# 데이터프레임 df의 특정 원소 1개 선택('용준'의 '영어' 점수)
a = df.loc['용준', '영어']
print(a)

100

In [217]:
# 데이터프레임 df의 특정 원소 1개 선택('용준'의 '영어' 점수)
b = df.iloc[0, 2]
print(b)

100

In [218]:
# 데이터프레임 df의 특정 원소 2개 선택('수빈'의 '국어', '수학' 점수)
c = df.loc['수빈', ['국어', '수학']]
print(c)

국어    90
수학    85
Name: 수빈, dtype: int64

In [222]:
d = df.iloc[1, [0,1]]
print(d)

국어    90
수학    85
Name: 수빈, dtype: int64

In [232]:
d = df.iloc[1, 0:2]
print(d)

국어    90
수학    85
Name: 나름, dtype: int64

In [239]:
# 데이터프레임 df의 2개 이상의 행과 열에 속하는 원소들 선택('수빈', '재영'의 '영어', '음악' 점수)
e = df.loc[['수빈', '재영'], ['영어', '음악']]
print(e)

    영어   음악
이름
수빈  80   90
재영  90  100

In [244]:
f = df.iloc[[1,2], [2,3]]
print(f)

    영어   음악
이름
수빈  80   90
재영  90  100

In [246]:
g = df.iloc[1:3, 2:4]
print(g)

    영어   음악
이름
수빈  80   90
재영  90  100

> 부록 - 인덱스 헤드 바꾸는 방법

In [250]:
df.index.rename('성명',inplace = True)
print(df)

    국어  수학   영어   음악
성명
용준  70  90  100   70
수빈  90  85   80   90
재영  80  80   90  100

In [251]:
df = df.rename_axis('이름') 
print(df)

    국어  수학   영어   음악
이름
용준  70  90  100   70
수빈  90  85   80   90
재영  80  80   90  100

> 부록 - 행 인덱스 헤드 이름 지정(이 형식보단 바로위 방법을 써야할거같음)

In [257]:
import pandas as pd

exam_data = {'이름': ['용준', '수빈', '재영'], '국어': [70,90,80], '수학': [90, 85, 80], '영어': [100, 80, 90], '음악': [70, 90, 100]}
df = pd.DataFrame(exam_data)

In [258]:
df.index.name = "number"

In [259]:
print(df)

        이름  국어  수학   영어   음악
number
0       용준  70  90  100   70
1       수빈  90  85   80   90
2       재영  80  80   90  100

### 열 추가<br>
<code>Data.Frame객체.['추가하려는열이름'] = 데이터 값

In [2]:
import pandas as pd

exam_data = {'이름': ['용준', '수빈', '재영'], '국어': [70,90,80], '수학': [90, 85, 80], '영어': [100, 80, 90], '음악': [70, 90, 100]}
df = pd.DataFrame(exam_data)

In [3]:
df['체육'] = [80, 70, 75]

In [4]:
print(df)

   이름  국어  수학   영어   음악  체육
0  용준  70  90  100   70  80
1  수빈  90  85   80   90  70
2  재영  80  80   90  100  75

#### 부록 - 열을 중간에 추가하고 싶을 경우 insert() 함수 사용

In [5]:
df.insert(3, "과학", [90,80,85])

In [6]:
print(df)

   이름  국어  수학  과학   영어   음악  체육
0  용준  70  90  90  100   70  80
1  수빈  90  85  80   80   90  70
2  재영  80  80  85   90  100  75

### 행 추가
- 추가하려는 행 이름과 데이터 값을 loc 인덱서를 사용하여 입력<br>
<code>DataFrame객체.loc['새로운행이름'] = 데이터 값<code>

In [273]:
import pandas as pd

exam_data = {'이름': ['재윤', '상범', '수지'], '국어': [70,90,80], '수학': [90, 85, 80], '영어': [100, 80, 90], '음악': [70, 90, 100]}
df = pd.DataFrame(exam_data)

In [274]:
# 새로운 행(row) 추가 - 같은 원소 값 입력
df.loc[3] = 0

In [275]:
print(df)

   이름  국어  수학   영어   음악
0  재윤  70  90  100   70
1  상범  90  85   80   90
2  수지  80  80   90  100
3   0   0   0    0    0

In [276]:
df.loc[4] = ['한결', 100, 75, 85, 80]

In [277]:
print(df)

   이름   국어  수학   영어   음악
0  재윤   70  90  100   70
1  상범   90  85   80   90
2  수지   80  80   90  100
3   0    0   0    0    0
4  한결  100  75   85   80

In [278]:
# 새로운 행(row) 추가 - 기존 행 복사
df.loc[5] = df.loc[3]

In [279]:
print(df)

   이름   국어  수학   영어   음악
0  재윤   70  90  100   70
1  상범   90  85   80   90
2  수지   80  80   90  100
3   0    0   0    0    0
4  한결  100  75   85   80
5   0    0   0    0    0

#### 부록 - 행을 중간에 추가하고 싶을 경우 append() 함수 사용(기존행 + 새로운행 + 기존행)

In [47]:
import pandas as pd

exam_data = {'이름': ['재윤', '상범', '수지'], '국어': [70,90,80], '수학': [90, 85, 80], '영어': [100, 80, 90], '음악': [70, 90, 100]}
df = pd.DataFrame(exam_data)
df.loc[4] = ['한결', 100, 75, 85, 80]

In [48]:
print(df)

   이름   국어  수학   영어   음악
0  재윤   70  90  100   70
1  상범   90  85   80   90
2  수지   80  80   90  100
4  한결  100  75   85   80

In [51]:
label = df.iloc[:3]
label2 = df.iloc[3]
# 이상하게 loc로 지정하면 안됨 -> 인덱스번호로 입력되어있어서 그런듯

In [50]:
label2

이름     한결
국어    100
수학     75
영어     85
음악     80
Name: 4, dtype: object

In [42]:
exam_data2 =  {'이름': '수빈', '국어': 90, '수학': 80, '영어': 80, '음악': 100}

In [43]:
df = label.append(exam_data2, ignore_index=True).append(label2, ignore_index=True)

In [44]:
print(df)

   이름   국어  수학   영어   음악
0  재윤   70  90  100   70
1  상범   90  85   80   90
2  수지   80  80   90  100
3  수빈   90  80   80  100
4  한결  100  75   85   80

### 원소 값 변경 예제<br>
<code>DataFrame객체의 일부분 또는 원소를 선택 = 새로운 값<code>

In [287]:
import pandas as pd

exam_data = {'이름': ['예진', '지우', '진석'], '국어': [70,90,80], '수학': [90, 85, 80], '영어': [100, 80, 90], '음악': [70, 90, 100]}
df = pd.DataFrame(exam_data)

In [288]:
df.set_index("이름", inplace = True)

In [289]:
print(df)

    국어  수학   영어   음악
이름
예진  70  90  100   70
지우  90  85   80   90
진석  80  80   90  100

1번째 원소 값 변경방법

In [295]:
# 데이터프레임 df의 특정 원소를 변경('예진'의 '음악' 점수)
df.iloc[0, 3] = 80

In [296]:
print(df)

    국어  수학   영어   음악
이름
예진  70  90  100   80
지우  90  85   80   90
진석  80  80   90  100

2번째 방법

In [292]:
df.iloc[0][3] = 90

In [294]:
print(df)

    국어  수학   영어   음악
이름
예진  70  90  100   90
지우  90  85   80   90
진석  80  80   90  100

3번째 방법

In [297]:
# 데이터프레임 df의 특정 원소를 변경('예진'의 '음악' 점수)
df.loc['예진']['음악'] = 100

In [298]:
print(df)

    국어  수학   영어   음악
이름
예진  70  90  100  100
지우  90  85   80   90
진석  80  80   90  100

In [299]:
# 데이터프레임 df의 특정 원소를 변경('지우'의 '수학', '영어' 점수)
df.loc['지우', ['수학', '영어']] = 100, 90

In [300]:
print(df)

    국어   수학   영어   음악
이름
예진  70   90  100  100
지우  90  100   90   90
진석  80   80   90  100

### 행, 열의 위치 바꾸기
<code>DataFrane객체.transpose() or DataFrame객체.T

In [325]:
import pandas as pd

exam_data = {'이름': ['지연', '유림', '정수'], '국어': [70,90,80], '수학': [90, 85, 80], '영어': [100, 80, 90], '음악': [70, 90, 100]}
df = pd.DataFrame(exam_data)

In [326]:
df.set_index('이름', inplace = True)
print(df)

    국어  수학   영어   음악
이름
지연  70  90  100   70
유림  90  85   80   90
정수  80  80   90  100

In [331]:
df = df.transpose()

In [332]:
print(df)

이름   지연  유림   정수
국어   70  90   80
수학   90  85   80
영어  100  80   90
음악   70  90  100

---

In [344]:
df = df.T # 다시변경

In [343]:
print(df)

    국어  수학   영어   음악
이름
지연  70  90  100   70
유림  90  85   80   90
정수  80  80   90  100