In [4]:
a = 3
b = 4
print(a+b)

7

In [8]:
print("life""is""short")

lifeisshort

In [7]:
print("life","is","short")

life is short

In [18]:
print("life is short") #띄어쓰기

life is short

In [15]:
a = input("a 값을 입력해주세요: ")

a 값을 입력해주세요: 20

In [17]:
print(a)

20

주석 예제

In [30]:
identity = "지구인" #정체1
number_of_legs = 10 #다리의 수
print(Identity)
print(number_of_legs)
print('안녕')
#print("너는 누구니?")

지구인
10
안녕

In [26]:
"""
주석 내용입니다.
"""
print("hello")

hello

In [32]:
identity = "외계인"

In [33]:
print(identity)

외계인

- 똑같은 이름의 변수에 새로운 값을 저장할 경우 변수의 값이 변경 X, 새로운 변수 생성 O
 - 기존 변수의 값을 불러 올 수는 없음

변수 생성시 특징
- 변수명의 첫문자는 영문자 또는 언더바('_')로 시작
- 예약어 사용 불가

변수 생성예제

In [72]:
1_unit = 1 #변수명이 숫자로 시작하는 경우

SyntaxError: invalid decimal literal (Temp/ipykernel_14684/4127398569.py, line 1)

In [70]:
_unit = 1

In [74]:
_ = 1

In [76]:
print(_)

1

In [73]:
@unit = 1 # 변수명이 특수문자로 시작하는 경우

SyntaxError: invalid syntax (Temp/ipykernel_14684/1127821124.py, line 1)

In [77]:
and = 1 # 변수명 예약어 사용 불가

SyntaxError: invalid syntax (Temp/ipykernel_14684/652412137.py, line 1)

In [79]:
for = 1 #변수명 예약어 사용 불가

SyntaxError: invalid syntax (Temp/ipykernel_14684/2283083534.py, line 1)

변수 제거 예제

In [39]:
a = 3
b = 4

In [36]:
print(a)
print(b)

3
4

In [41]:
del(a)
del(b)

In [42]:
print(a)
print(b)

NameError: name 'a' is not defined

- 변수 a를 제거했기 때문에 print()함수로 출력 되지 않음

파이썬 대소문자 구분 예제

In [49]:
a = "Python"

In [47]:
print(a)

Python

비교 연산자 예제

In [53]:
X = 3
Y = 4
print(X < Y)
print(X > Y)

True
False

X = 3
Y = 4
Z = 5

X < Y or Z < Y<br>
in, not in 예제

In [57]:
print(1 in [1, 2, 3])

True

In [58]:
print(1 not in [1, 2, 3])

False

In [60]:
print('a' in ('a', 'b', 'c'))

True

In [61]:
print('j' in 'python')

False

while문 예제

In [63]:
treeHit = 0
while treeHit < 10:
    treeHit = treeHit + 1
    print("나무를 %d번 찍었습니다." % treeHit)
    if treeHit == 10:
        print("나무 넘어갑니다.")

나무를 1번 찍었습니다.
나무를 2번 찍었습니다.
나무를 3번 찍었습니다.
나무를 4번 찍었습니다.
나무를 5번 찍었습니다.
나무를 6번 찍었습니다.
나무를 7번 찍었습니다.
나무를 8번 찍었습니다.
나무를 9번 찍었습니다.
나무를 10번 찍었습니다.
나무 넘어갑니다.

In [65]:
TreeHit = 0
TreeBranch = 10
while TreeHit <= 10:
    print("나무를 %d번 찍었습니다." % TreeHit)
    TreeHit += 1
    print("나뭇가지가 %d개 남았습니다." % TreeBranch)
    TreeBranch -= 1
    if TreeHit == 0:
        print("나무가 넘어갑니다.")

나무를 0번 찍었습니다.
나뭇가지가 10개 남았습니다.
나무를 1번 찍었습니다.
나뭇가지가 9개 남았습니다.
나무를 2번 찍었습니다.
나뭇가지가 8개 남았습니다.
나무를 3번 찍었습니다.
나뭇가지가 7개 남았습니다.
나무를 4번 찍었습니다.
나뭇가지가 6개 남았습니다.
나무를 5번 찍었습니다.
나뭇가지가 5개 남았습니다.
나무를 6번 찍었습니다.
나뭇가지가 4개 남았습니다.
나무를 7번 찍었습니다.
나뭇가지가 3개 남았습니다.
나무를 8번 찍었습니다.
나뭇가지가 2개 남았습니다.
나무를 9번 찍었습니다.
나뭇가지가 1개 남았습니다.
나무를 10번 찍었습니다.
나뭇가지가 0개 남았습니다.

- for문은 리스트, 튜플, 문자열과 함께 쓰이는 반복문
- while문은 조건문과 함께 쓰이는 반복문

함수
- 함수는 인자를 입력받아 결과를 도출하는 목적으로 사용
- 사용자가 편리하게 사용하기 위해 사용하기도 함

함수 만들기 예제

In [66]:
def add(a, b):
    return a + b

In [80]:
add(3, 4)

7

파이썬이 객체 지향이라고 부르는 이유?

In [90]:
a = 460
print(id(a)) # a 변수 메모리 주소 확인

1951596696432

In [89]:
b = 460
print(id(b)) # b 변수 메모리 주소 확인

1951596696848

In [91]:
id(266)

1951596695824

In [92]:
id(266)

1951596695824

자료형

정수
- 정수는 int로 나타냄
- 파이썬 정수의 크기는 32bit(=4byte)

정수 확인 예제

In [94]:
a = 123

In [95]:
print(type(a))

<class 'int'>

In [97]:
print((9).bit_length())

4

부동소수점(실수)
- 부동소수점(실수)은 float으로 나타냄

부동소수점(실수) 확인 예제

In [98]:
b = -1.23

In [99]:
print(type(b))

<class 'float'>

2진수 확인 예제

In [104]:
print(bin(255))

0b11111111

8진수 확인 예제

In [105]:
print(oct(255))

0o377

16진수 확인 예제

In [106]:
print(hex(255))

0xff

**사칙연산 예제**

In [107]:
a = 3
b = 4

In [109]:
print(a+b)
print(a-b)
print(a*b)
print(a/b)

7
-1
12
0.75

x의 y제곱을 나타내는 ** 연산자

In [110]:
a = 3
b = 4

In [111]:
print(a**b)

81

나눗셈 후 몫을 반환하는 // 연산자

In [112]:
a = 7
b = 3

In [114]:
print(a // b)

2

나눗셈 후 나머지를 반환하는 % 연산자

In [115]:
a = 7
b = 3

In [116]:
print(a % b)

1

In [123]:
print('i\\\'m ironman')

i\'m ironman

In [126]:
print("""아니
저기
여보시오
""")

아니
저기
여보시오

In [133]:
print("2\0진")

2 진

문자열 합치기 예제

In [134]:
head = 'Python'
tail = ' is fun!'
print(head+tail)

Python is fun!

문자열 곱하기 예제

In [135]:
a = "Python"
print(a*2)

PythonPython

문자열 곱하기 응용 예제

In [136]:
print("=" * 30)
print("My Program")
print('=' * 30)

==============================
My Program
==============================

문자열 길이 구하기 예제

In [138]:
a = "Life is too short"
print(len(a))

17

In [153]:
'python'[-2:]

'on'

문자열 인덱싱 예제

In [154]:
a = "Life is too short, You need Python"

In [157]:
print(a[10:])

o short, You need Python

In [158]:
print(a[-10])

e

문자열 슬라이싱 예제

In [159]:
a = "Life is too short, You need Python"

In [160]:
print(a[0:4])

Life

In [161]:
print(a[:4])

Life

In [162]:
print(a[10:])

o short, You need Python

In [171]:
a = "Pithon"
print(a[:1] + "y" + a[2:])
print(a)

Python
Pithon

문자열 포매팅 예제
1. 숫자 바로 대입

In [192]:
print("I eat %d apples" % 3)

I eat 3 apples

2. 문자열 바로 대입

In [187]:
print("I eat %s apples" % "Three")

I eat Three apples

3. 숫자 값을 나타내는 변수로 대입

In [185]:
number = 3
print("I eat %d apples" % number)

I eat 3 apples

4. 2개 이상의 값을 대입

In [195]:
number = 3
day = "three"
print("I eat %d apples, so I was sick for %s days" % (number, day))

I eat 3 apples, so I was sick for three days

%d와 %를 같이 사용하는 예제

In [198]:
print("Error is %d%%" % 98)

Error is 98%

In [199]:
print("%10s" % "hi")

        hi

In [200]:
print("%-10s" % "hi")

hi

In [206]:
print("%10d" % 3)

         3

In [208]:
print("%0.4f" % 3.42134234)

3.4213

In [225]:
"<{0:,d}> / {1}".format(100000, "나")

'<100,000> / 나'

In [17]:
"<{0:015,.4f}> / {1}".format(100000, "나")

'<00,100,000.0000> / 나'

In [227]:
print("I eat {number} apples, so I was sick for {day} days".format(number=1, day=2))

I eat 1 apples, so I was sick for 2 days

문자열 포매팅 예제

In [260]:
print('나의 이름은 {}입니다. 나이는 {}입니다.'.format("김원빈", 30))

나의 이름은 김원빈입니다. 나이는 30입니다.

f문자열 포매팅 예제

In [228]:
name = "홍길동"
age = 19
print(f'나의 이름은 {name}입니다. 나이는 {age}입니다.')

나의 이름은 홍길동입니다. 나이는 19입니다.

In [229]:
name = "홍길동"
age = 19
print(f'나의 이름은 {name}입니다. 나이는 {age+1}입니다.')

나의 이름은 홍길동입니다. 나이는 20입니다.

문자열 갯수 세기 예제(count)

In [231]:
a ="hobby"
print(a.count("b"))

2

문자 위치 알려주기 예제 1(find)

In [19]:
a = "Python is the best choice"
print(a.find("j"))
print(a.find("t"))

-1
2

- 문자열 중 문자 b가 처음 나온 위치를 반환, 찾는 문자나 문자열이 없을 경우 -1 을 반환

문자 위치 알려주기 예제 2(index)

In [238]:
a = "Life is too short"
print(a.index("t"))

8

- 문자열 중 문자 t가 처음 나온 위치를 반환, 찾는 문자나 문자열이 없을 경우 에러를 반환

문자열 삽입 예제(join)

In [20]:
a = ","
print(a.join("abcd"))

a,b,c,d

In [242]:
a = ":"
print(a.join(["a", "b", "c", "d"]))

a:b:c:d

In [24]:
print(a.join([1,2,3]))

TypeError: sequence item 0: expected str instance, int found

소문자를 대문자로(upper)

In [243]:
a = "hi"
print(a.upper())

HI

대문자를 소문자로(lower)

In [244]:
a = "HI"
print(a.lower())

hi

왼쪽 공백 지우기 예제(lstrip)

In [245]:
a = " hi "
print(a.lstrip())

hi

오른쪽 공백 지우기 예제(rstrip)

In [246]:
a = " hi "
print(a.rstrip())

 hi

양쪽 공백 지우기 예제(strip)

In [247]:
a = " hi "
print(a.strip())

hi

문자열 바꾸기 예제(replace)

In [253]:
a ="pithon"
a = a.replace("i", "y")
print(a)

python

In [257]:
a = "Life is too short"
print(a.replace("Life", "Your leg"))

Your leg is too short

문자열 나누기 예제(split)

In [255]:
a = "Life is too short"
print(a.split())

['Life', 'is', 'too', 'short']

In [258]:
b = "a:b:c:d"
print(b.split(":"))

['a', 'b', 'c', 'd']