## Key words
### 분류모델, 나이브베이즈, 사전확률, 사후확률, GaussianNB, predict_proba

### 나이브 베이즈 분류기 특징
- 사전 확률 및 추가 정보를 기반으로 사후 확률을 추론하는 통계적인 방법인 베이즈 추정 기반 분류
- 종속변수 각 범주의 등장 빈도인 사전확률(prior) 설정이 중요
- 각 데이터의 사전 확률을 기반으로 사후확률(posterior)을 계산

### sklearn - GaussianNB()
- 나이브베이즈 분류 모델을 위한 sklearn의 함수
- 독립변수와 종속변수는 GaussianNB() 함수의 메서드인 fit() 함수에 할당
- 모델 객체의 predict_proba() 메서드로 예측 확률값을 생산
- 이진 분류의 경우 출력된 예측 확률값의 두 번째 열이 1이 될 확률

In [1]:
import pandas as pd
from sklearn.naive_bayes import GaussianNB

In [2]:
df = pd.read_csv("iris.csv")
df.head(2)

   Sepal.Length  Sepal.Width  Petal.Length  Petal.Width Species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa

In [3]:
df["is_setosa"] = (df["Species"] == "setosa") +0
df.head(2)

   Sepal.Length  Sepal.Width  Petal.Length  Petal.Width Species  is_setosa
0           5.1          3.5           1.4          0.2  setosa          1
1           4.9          3.0           1.4          0.2  setosa          1

In [21]:
df[df.Species == "setosa"] #  == df.loc[df["Species"]=="setosa"]

    Sepal.Length  Sepal.Width  Petal.Length  Petal.Width Species  is_setosa
0            5.1          3.5           1.4          0.2  setosa          1
1            4.9          3.0           1.4          0.2  setosa          1
2            4.7          3.2           1.3          0.2  setosa          1
3            4.6          3.1           1.5          0.2  setosa          1
4            5.0          3.6           1.4          0.2  setosa          1
5            5.4          3.9           1.7          0.4  setosa          1
6            4.6          3.4           1.4          0.3  setosa          1
7            5.0          3.4           1.5          0.2  setosa          1
8            4.4          2.9           1.4          0.2  setosa          1
9            4.9          3.1           1.5          0.1  setosa          1
10           5.4          3.7           1.5          0.2  setosa          1
11           4.8          3.4           1.6          0.2  setosa          1
12           4.8          3.0           1.4          0.1  setosa          1
13           4.3          3.0           1.1          0.1  setosa          1
14           5.8          4.0           1.2          0.2  setosa          1
15           5.7          4.4           1.5          0.4  setosa          1
16           5.4          3.9           1.3          0.4  setosa          1
17           5.1          3.5           1.4          0.3  setosa          1
18           5.7          3.8           1.7          0.3  setosa          1
19           5.1          3.8           1.5          0.3  setosa          1
20           5.4          3.4           1.7          0.2  setosa          1
21           5.1          3.7           1.5          0.4  setosa          1
22           4.6          3.6           1.0          0.2  setosa          1
23           5.1          3.3           1.7          0.5  setosa          1
24           4.8          3.4           1.9          0.2  setosa          1
25           5.0          3.0           1.6          0.2  setosa          1
26           5.0          3.4           1.6          0.4  setosa          1
27           5.2          3.5           1.5          0.2  setosa          1
28           5.2          3.4           1.4          0.2  setosa          1
29           4.7          3.2           1.6          0.2  setosa          1
30           4.8          3.1           1.6          0.2  setosa          1
31           5.4          3.4           1.5          0.4  setosa          1
32           5.2          4.1           1.5          0.1  setosa          1
33           5.5          4.2           1.4          0.2  setosa          1
34           4.9          3.1           1.5          0.2  setosa          1
35           5.0          3.2           1.2          0.2  setosa          1
36           5.5          3.5           1.3          0.2  setosa          1
37           4.9          3.6           1.4          0.1  setosa          1
38           4.4          3.0           1.3          0.2  setosa          1
39           5.1          3.4           1.5          0.2  setosa          1
40           5.0          3.5           1.3          0.3  setosa          1
41           4.5          2.3           1.3          0.3  setosa          1
42           4.4          3.2           1.3          0.2  setosa          1
43           5.0          3.5           1.6          0.6  setosa          1
44           5.1          3.8           1.9          0.4  setosa          1
45           4.8          3.0           1.4          0.3  setosa          1
46           5.1          3.8           1.6          0.2  setosa          1
47           4.6          3.2           1.4          0.2  setosa          1
48           5.3          3.7           1.5          0.2  setosa          1
49           5.0          3.3           1.4          0.2  setosa          1

In [10]:
df["Species"]

0         setosa
1         setosa
2         setosa
3         setosa
4         setosa
         ...
145    virginica
146    virginica
147    virginica
148    virginica
149    virginica
Name: Species, Length: 150, dtype: object

In [11]:
df["is_setosa"].value_counts()

0    100
1     50
Name: is_setosa, dtype: int64

In [12]:
df["is_setosa"].value_counts(normalize=True) # 사전확률

0    0.666667
1    0.333333
Name: is_setosa, dtype: float64

In [13]:
model = GaussianNB().fit(X = df.iloc[:, :4],
                         y = df["is_setosa"])
model

GaussianNB()

In [14]:
model.class_prior_ # 사전확률

array([0.66666667, 0.33333333])

In [15]:
model.theta_

array([[6.262, 2.872, 4.906, 1.676],
       [5.006, 3.428, 1.462, 0.246]])

In [23]:
pred = model.predict_proba(df.iloc[:, :4])
pred = pred[:, 1]

pred[:4] # 확률

array([1., 1., 1., 1.])

In [25]:
from sklearn.metrics import accuracy_score

In [26]:
pred_class = (pred > 0.5) + 0

In [27]:
accuracy_score(y_true = df["is_setosa"],
               y_pred = pred_class)

1.0

### 1. BMI가 0 초과인 데이터만 사용하여 나이브 베이즈 분류를 실시하고자 한다. Outcome을 종속변수로 하고 나머지 변수를 독립변수로 할 때 종속변수의 사전확률은?
- diabetes.csv
- Outcome 1을 대상으로 사전확률을 계산한다.

In [28]:
import pandas as pd
from sklearn.naive_bayes import GaussianNB

In [29]:
df = pd.read_csv("diabetes.csv")
df.head(2)

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0

In [31]:
df1 = df[df.BMI > 0]

In [32]:
df1.head(2)

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0

In [35]:
model = GaussianNB().fit(X = df1.iloc[:, :-1],
                         y = df1["Outcome"])

In [41]:
model.class_prior_

array([0.64861295, 0.35138705])

In [40]:
model.predict_proba(df1.iloc[:, :-1])

array([[0.36902653, 0.63097347],
       [0.98439184, 0.01560816],
       [0.23966323, 0.76033677],
       ...,
       [0.94576296, 0.05423704],
       [0.87551034, 0.12448966],
       [0.98142277, 0.01857723]])

정답

In [42]:
df1["Outcome"].value_counts(normalize=True)

0    0.648613
1    0.351387
Name: Outcome, dtype: float64

### 2. 혈당, 혈압, 나이를 독립변수로 하고 당뇨 발병 여부를 종속변수로 했을 때 그 정확도는 얼마인가?
- diabetes.csv
- Outcome 1을 대상으로 사전확률을 계산한다.

In [47]:
df = pd.read_csv("diabetes.csv")
df.head(2)

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0

In [48]:
from sklearn.metrics import accuracy_score

In [49]:
model = GaussianNB().fit(X = df.loc[:, ["Glucose", "BloodPressure", "Age"]],
                         y = df["Outcome"])
pred = model.predict_proba(df.loc[:, ["Glucose", "BloodPressure", "Age"]])

In [50]:
pred_class = (pred[:, 1] > 0.5) + 0
pred_class[:4]

array([1, 0, 1, 0])

In [51]:
accuracy_score(y_pred = pred_class, y_true = df["Outcome"])

0.7552083333333334

### 3. 임신여부, 연령대, BMI, 혈당을 독립변수로 하고 당뇨 발병 여부를 종속변수로 했을 때 나이브 베이즈와 로지스틱 회귀분석을 실시하고 둘 중 정확도가 높은 모델의 정확도는?
- diabetes.csv
- BMI가 0 초과인 것을 사용하며 학습/평가 데이터 세트를 8:2로 분할, Seed : 123
- 연령대는 Age가 21인 경우 20으로 39인 경우 30으로 계산
- sklearn의 로지스틱 회귀 함수를 사용하며, 임계값(threshold)은 0.5로 한다

In [55]:
df = pd.read_csv("diabetes.csv")
df.head(2)

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0

In [56]:
from sklearn.model_selection import train_test_split

In [57]:
df1 = df[df.BMI > 0]

In [63]:
df1["연령대"] = (df1.Age // 10) * 10
df1.head(2)

C:\Users\user\AppData\Local\Temp/ipykernel_11288/1182173388.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df1["연령대"] = (df1.Age // 10) * 10

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome,연령대
0,6,148,72,35,0,33.6,0.627,50,1,50
1,1,85,66,29,0,26.6,0.351,31,0,30

In [64]:
train, test = train_test_split(df1, train_size=0.8, random_state=123)

In [76]:
model = GaussianNB().fit(X = train.loc[:, ["Pregnancies", "연령대", "BMI", "Glucose"]],
                         y = train["Outcome"])
model

GaussianNB()

In [77]:
pred = model.predict_proba(test.loc[:, ["Pregnancies", "연령대", "BMI", "Glucose"]])
pred #  0번이 아닌 1번 컬럼이 확률

array([[0.06249923, 0.93750077],
       [0.77377309, 0.22622691],
       [0.07358057, 0.92641943],
       [0.77344169, 0.22655831],
       [0.91959694, 0.08040306],
       [0.58486838, 0.41513162],
       [0.6451689 , 0.3548311 ],
       [0.58861661, 0.41138339],
       [0.19143955, 0.80856045],
       [0.01982958, 0.98017042],
       [0.73811672, 0.26188328],
       [0.08945204, 0.91054796],
       [0.09986718, 0.90013282],
       [0.93821251, 0.06178749],
       [0.53705487, 0.46294513],
       [0.90451601, 0.09548399],
       [0.44898401, 0.55101599],
       [0.06319493, 0.93680507],
       [0.79429335, 0.20570665],
       [0.58675928, 0.41324072],
       [0.85321072, 0.14678928],
       [0.11812594, 0.88187406],
       [0.92752114, 0.07247886],
       [0.11037108, 0.88962892],
       [0.75187451, 0.24812549],
       [0.38901944, 0.61098056],
       [0.02196146, 0.97803854],
       [0.88443403, 0.11556597],
       [0.79640621, 0.20359379],
       [0.92525294, 0.07474706],
       [0.5567159 , 0.4432841 ],
       [0.50754414, 0.49245586],
       [0.92897899, 0.07102101],
       [0.72341005, 0.27658995],
       [0.13225094, 0.86774906],
       [0.97286739, 0.02713261],
       [0.18324477, 0.81675523],
       [0.98326393, 0.01673607],
       [0.95869282, 0.04130718],
       [0.95088973, 0.04911027],
       [0.86748211, 0.13251789],
       [0.34034057, 0.65965943],
       [0.08386386, 0.91613614],
       [0.15571065, 0.84428935],
       [0.76193674, 0.23806326],
       [0.72627326, 0.27372674],
       [0.81957687, 0.18042313],
       [0.65963972, 0.34036028],
       [0.95814492, 0.04185508],
       [0.8979536 , 0.1020464 ],
       [0.9627505 , 0.0372495 ],
       [0.1668925 , 0.8331075 ],
       [0.5377281 , 0.4622719 ],
       [0.08466236, 0.91533764],
       [0.85835406, 0.14164594],
       [0.5271657 , 0.4728343 ],
       [0.21400913, 0.78599087],
       [0.78328118, 0.21671882],
       [0.79927128, 0.20072872],
       [0.76463034, 0.23536966],
       [0.17536162, 0.82463838],
       [0.59504572, 0.40495428],
       [0.85937977, 0.14062023],
       [0.39633869, 0.60366131],
       [0.90627404, 0.09372596],
       [0.75724834, 0.24275166],
       [0.84716264, 0.15283736],
       [0.89162459, 0.10837541],
       [0.76452012, 0.23547988],
       [0.87270781, 0.12729219],
       [0.27338639, 0.72661361],
       [0.18870457, 0.81129543],
       [0.84636965, 0.15363035],
       [0.68265216, 0.31734784],
       [0.0278241 , 0.9721759 ],
       [0.91522742, 0.08477258],
       [0.35873738, 0.64126262],
       [0.73961627, 0.26038373],
       [0.37187422, 0.62812578],
       [0.30505029, 0.69494971],
       [0.84914701, 0.15085299],
       [0.89580378, 0.10419622],
       [0.97548966, 0.02451034],
       [0.89481138, 0.10518862],
       [0.86628356, 0.13371644],
       [0.87698488, 0.12301512],
       [0.78358276, 0.21641724],
       [0.94113493, 0.05886507],
       [0.67204075, 0.32795925],
       [0.84953037, 0.15046963],
       [0.95945729, 0.04054271],
       [0.91958438, 0.08041562],
       [0.31297782, 0.68702218],
       [0.95550004, 0.04449996],
       [0.98367943, 0.01632057],
       [0.10307465, 0.89692535],
       [0.25927078, 0.74072922],
       [0.46080179, 0.53919821],
       [0.73621267, 0.26378733],
       [0.23073128, 0.76926872],
       [0.88125644, 0.11874356],
       [0.95338134, 0.04661866],
       [0.39911439, 0.60088561],
       [0.88569514, 0.11430486],
       [0.23335097, 0.76664903],
       [0.89140769, 0.10859231],
       [0.7973347 , 0.2026653 ],
       [0.88462708, 0.11537292],
       [0.89748452, 0.10251548],
       [0.22160311, 0.77839689],
       [0.23273045, 0.76726955],
       [0.830319  , 0.169681  ],
       [0.91825834, 0.08174166],
       [0.96218637, 0.03781363],
       [0.97927284, 0.02072716],
       [0.80913517, 0.19086483],
       [0.8185693 , 0.1814307 ],
       [0.04745579, 0.95254421],
       [0.76385675, 0.23614325],
       [0.81488799, 0.18511201],
       [0.94352472, 0.05647528],
       [0.07003678, 0.92996322],
       [0.92360715, 0.07639285],
       [0.81066545, 0.18933455],
       [0.7031596 , 0.2968404 ],
       [0.17296763, 0.82703237],
       [0.80548912, 0.19451088],
       [0.84671479, 0.15328521],
       [0.96174724, 0.03825276],
       [0.0411462 , 0.9588538 ],
       [0.94626118, 0.05373882],
       [0.49429682, 0.50570318],
       [0.70943321, 0.29056679],
       [0.41084674, 0.58915326],
       [0.96046913, 0.03953087],
       [0.00766744, 0.99233256],
       [0.0968306 , 0.9031694 ],
       [0.42360385, 0.57639615],
       [0.88383773, 0.11616227],
       [0.57349481, 0.42650519],
       [0.01881397, 0.98118603],
       [0.49390784, 0.50609216],
       [0.93414981, 0.06585019],
       [0.88863133, 0.11136867],
       [0.81890789, 0.18109211],
       [0.90935839, 0.09064161],
       [0.79475041, 0.20524959],
       [0.02861169, 0.97138831],
       [0.87690241, 0.12309759],
       [0.84022503, 0.15977497],
       [0.77102005, 0.22897995],
       [0.79617779, 0.20382221]])

In [78]:
pred1 = (pred[:, 1] > 0.5) + 0

In [80]:
accuracy_score(y_pred = pred1,
               y_true = test["Outcome"])

0.7960526315789473

In [75]:
from sklearn.linear_model import LogisticRegression

In [83]:
model2 = LogisticRegression()
model2.fit(X = train.loc[:, ["Pregnancies", "연령대", "BMI", "Glucose"]],
                         y = train["Outcome"])

LogisticRegression()

In [84]:
pred2 = model2.predict_proba(test.loc[:, ["Pregnancies", "연령대", "BMI", "Glucose"]])

In [85]:
pred3 = (pred2[:, 1] > 0.5) + 0

In [86]:
accuracy_score(y_pred = pred3,
               y_true = test["Outcome"])

0.8289473684210527